span.nav-text, .create-post-span {
    color: #ffffff;
}

.comment-date {
    font-size: '.75em';
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-R.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuItalic;
    src: url("../fonts/Ubuntu-RI.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuLight;
    src: url("../fonts/Ubuntu-L.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuLightItalic;
    src: url("../fonts/Ubuntu-LI.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuMedium;
    src: url("../fonts/Ubuntu-M.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuMediumItalic;
    src: url("../fonts/Ubuntu-MI.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuBold;
    src: url("../fonts/Ubuntu-B.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuBoldItalic;
    src: url("../fonts/Ubuntu-BI.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuCondensed;
    src: url("../fonts/Ubuntu-C.woff2") format("woff2");
}