span.nav-text, .create-post-span {
    color: #ffffff;
}

@media only screen and (max-width : 768px){
        .top-nav {
            padding-top: 145px;
        }
        .chat-container {
            width: 350px;
        }
        .friend-list {
            position: static;
        }
    }

@media only screen and (min-width : 768px){
        .top-nav {
            padding-top: 145px;
        }
        .chat-container {
            width: 750px;
        }
        .friend-list {
            position: fixed;
            bottom: 0;
            right: 150px;
        }
    }

@media only screen and (min-width : 970px){
        .top-nav {
                padding-top: 100px;
        }
        .chat-container {
            width: 970px;
        }
        .friend-list {
            position: fixed;
            bottom: 0;
            right: 100px;
        }
}

@media only screen and (min-width : 1170px){
        .top-nav {
                padding-top: 100px;
        }
        .chat-container {
            width: 970px;
        }
        .friend-list {
            position: fixed;
            bottom: 0;
            right: 100px;
        }
}

@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-R.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuItalic;
    src: url("../fonts/Ubuntu-RI.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuLight;
    src: url("../fonts/Ubuntu-L.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuLightItalic;
    src: url("../fonts/Ubuntu-LI.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuMedium;
    src: url("../fonts/Ubuntu-M.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuMediumItalic;
    src: url("../fonts/Ubuntu-MI.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuBold;
    src: url("../fonts/Ubuntu-B.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuBoldItalic;
    src: url("../fonts/Ubuntu-BI.woff2") format("woff2");
}

@font-face {
    font-family: UbuntuCondensed;
    src: url("../fonts/Ubuntu-C.woff2") format("woff2");
}